-
  var mainMenu = [
    {
      "id": "0",
      "name": "Цветочная лавка",
      "url": "#home"
    },
    {
      "id": "10",
      "name": "Композиции",
      "url": "#composition",
    },
    {
      "id": "20",
      "name": "Заказать букет",
      "url": "#buy"
    },
    {
      "id": "30",
      "name": "Контакты",
      "url": "#contact"
    },
  ];
