// В этом файле должны быть стили для БЭМ-блока page-header, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.page-header {
  position: absolute;
  z-index: 100;
  top: 0;
  right: 0;
  left: 0;

  &__inner {
    @include container();
    padding-top: 0.5em;
  }

  &__grid {
    @include row();
    align-items: center;
  }
}
