// В этом файле должны быть стили для БЭМ-блока carousel, его элементов,
// модификаторов, псевдоселекторов, псевдоэлементов, @media-условий...
// Очередность: http://nicothin.github.io/idiomatic-pre-CSS/#priority

.carousel {

  $block-name: &; // #{$block-name}__element
  background: linear-gradient(to bottom, rgba(248, 246, 246, 1) 0%, rgba(255, 255, 255, 1) 100%);

  figure {
    margin: 0;
    padding: 0;
  }
}

// Arrow button size.
$arrow-button-size: 2em !default;

// Arrow SVG size.
$arrow-size: 1.2em !default;

// Dots indicator size.
$dot-size: 8px !default;

// Height of a progress bar.
$progress-bar-height: 3px !default;

$spinner-size: 20px;

//arrows
.splide {
  position: relative;
  visibility: hidden;
  outline: none;
  $root: &;

  &__container {
    position: relative;
    box-sizing: border-box;
  }

  &__list {
    display: flex;
    margin: 0;
    padding: 0;
    width: max-content;
    will-change: transform;

  }

  &.is-active {

    #{$root}__list {
      display: flex;
    }
  }

  &__slide {
    position: relative;
    box-sizing: border-box;
    list-style-type: none;
    margin: 0;
    outline: none;
    flex-shrink: 0;

    img {
      vertical-align: bottom;
    }
  }

  &__slider {
    position: relative;
  }

  &__spinner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;

    display: inline-block;
    width: $spinner-size;
    height: $spinner-size;
    border-radius: 50%;
    border: 2px solid #999;
    border-left-color: transparent;

    animation: splide-loading 1s infinite linear;
  }

  &__track {
    position: relative;
    z-index: 0;
    overflow: hidden;
  }

  &__arrow {
    position: absolute;
    z-index: 1;
    top: 50%;
    transform: translateY( -50% );
    width: $arrow-button-size;
    height: $arrow-button-size;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    padding: 0;
    opacity: 0.7;
    background: #ccc;

    svg {
      width: $arrow-size;
      height: $arrow-size;
    }

    &:hover {
      cursor: pointer;
      opacity: 0.9;
    }

    &:focus {
      outline: none;
    }

    &--prev {
      left: 1em;

      svg {
        transform: scaleX( -1 );
      }
    }

    &--next {
      right: 1em;
    }
  }


  //pagination

  &__pagination {
    position: absolute;
    z-index: 1;
    bottom: 0.5em;
    left: 50%;
    transform: translateX( -50% );
    padding: 0;

    &__page {
      display: inline-block;
      width: $dot-size;
      height: $dot-size;
      background: #ccc;
      border-radius: 50%;
      margin: 3px;
      padding: 0;
      transition: transfrom 0.2s linear;
      border: none;
      opacity: 0.7;

      &.is-active {
        transform: scale( 1.4 );
        background: $white;
      }

      &:hover {
        cursor: pointer;
        opacity: 0.9;
      }

      &:focus {
        outline: none;
      }
    }
  }

  //progress

  &__progress {

    &__bar {
      width: 0;
      height: $progress-bar-height;
      background: #ccc;
    }
  }
  // nav
  $root: &;

  &--nav {

    > #{$root}__track {

      > #{$root}__list {


      }
    }
  }

  #{$root}__slide {
    border: 3px solid transparent;
    &.is-visible {
     
      img{
        transform: scale(0.7);
        transition: all 0.5s linear;
      }
    }
    &.is-active {
     
      img{
        transform: scale(1.2);
      }
    }

    &:focus {
      outline: none;
    }
  }



  &--ttb {

    > #{$root}__track > #{$root}__arrows,
    > #{$root}__arrows {


    }

    #{$root}__arrow {
      left: 50%;
      transform: translate( -50%, 0 );

      &--prev {
        top: 1em;

        svg {
          transform: rotateZ( -90deg );
        }
      }

      &--next {
        top: auto;
        bottom: 1em;

        svg {
          transform: rotateZ( 90deg );
        }
      }
    }

    > #{$root}__pagination {
      display: flex;
      flex-direction: column;
      bottom: 50%;
      left: auto;
      right: 0.5em;
      transform: translate( 0, 50% );
    }
  }
}

$spinner-size: 20px;

@keyframes splide-loading {

  0% {
    transform: rotateZ( 0 );
  }

  100% {
    transform: rotateZ( 360deg );
  }
}

