//- Все примеси в этом файле должны начинаться c имени блока (carousel)

mixin carousel(text, mods)

  //- Принимает:
  //-   text    {string} - текст
  //-   mods    {string} - список модификаторов
  //- Вызов:
        +carousel('Текст', 'some-mod')

  -
    // список модификаторов
    var allMods = '';
    if(typeof(mods) !== 'undefined' && mods) {
      var modsList = mods.split(',');
      for (var i = 0; i < modsList.length; i++) {
        allMods = allMods + ' carousel--' + modsList[i].trim();
      }
    }

  .carousel(class=allMods)&attributes(attributes)
    .carousel__inner
     #carousel.splide
      .splide__track
       ul.splide__list
        li.splide__slide
         figure
          img(src="img/slide_1.png")
        li.splide__slide
         figure
          img(src="img/slide_2.png")
        li.splide__slide
         figure
          img(src="img/slide_3.png")
        li.splide__slide
         figure
          img(src="img/slide_1.png")
        li.splide__slide
         figure
          img(src="img/slide_2.png")
        li.splide__slide
         figure
          img(src="img/slide_3.png")
      block
      

